<div class="container text-center mt-3">
  <h1>PAYDAY 2 Secret Helper</h1>
  <p>
    <small>
      by <a href="https://github.com/Clashsoft/payday2-secret">Clashsoft</a>
    </small>
  </p>
  <p>
    <img src="https://github.com/r-pufky/payday2-secret/blob/master/cipher-text.jpg?raw=true"
         class="img-fluid" alt="Symbol Translation">
    <small>
      Image Credit
      <a href="https://github.com/r-pufky/payday2-secret">r-pufky/payday2-secret</a>
    </small>
  </p>
  <input id="inputField" class="form-control" type="text" oninput="onInputChanged()"
         onkeypress="onSearchSubmit(event)" placeholder="Start typing the translated letters...">
  <form class="mt-3 mb-3 form-inline align-items-baseline justify-content-center">
    <div class="mr-2">
      <a href="#" data-toggle="modal" data-target="#helpModal">How to Use</a>
      &#8226;
      <a href="#" data-toggle="modal" data-target="#saveModal">Saved</a>
      &#8226;
      Options:
    </div>
    <div class="mr-2 custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="threeSymbolCheckBox" value=""
             onclick="onThreeSymbolChanged()">
      <label class="custom-control-label" for="threeSymbolCheckBox">Three-Symbol Mode</label>
    </div>
    <div class="mr-2">
      <!-- TODO dark switch -->
    </div>
  </form>
  <ul id="listGroup" class="list-group text-left"></ul>
</div>
