<div class="container">
  <h1>LED Strip</h1>
  <p>
    Use the effect and color selection below to control my LED strip.
  </p>
  <div class="mb-3">
    <div class="mb-3">
      <label class="form-label" for="effectSelect">Effect</label>
      <select class="form-select" id="effectSelect" aria-describedby="emailDescription" [(ngModel)]="effect">
        <option *ngFor="let effect of effects" [ngValue]="effect">{{effect.name}}</option>
      </select>
      <div id="emailDescription" class="form-text text-muted">
        {{effect ? effect.description : 'No effect selected.'}}
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="colorInput">Color</label>
      <input type="color" class="form-control" id="colorInput" [(ngModel)]="color">
    </div>
    <div class="mb-3">
      <label class="form-label" for="presets">Presets</label>
      <div class="btn-group d-block" role="group" id="presets">
        <button *ngFor="let preset of presets" class="btn" [style.background]="preset" (click)="color = preset">
          &nbsp;
        </button>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="messageInput">Message</label>
      <input type="text" class="form-control" id="messageInput" [(ngModel)]="message">
    </div>
    <button type="button" class="btn btn-primary" [disabled]="submitting" (click)="submit()">
      <span *ngIf="submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{submitting ? 'Playing...' : 'Play'}}
    </button>
  </div>
  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{error}}
  </div>
  <ng-container *ngIf="events.length > 0">
    <hr/>
    <h2>Latest Events</h2>
    <ul class="list-group">
      <li *ngFor="let event of events" class="list-group-item">
        <span class="text-muted float-right">{{event.timestamp|date:'short'}}</span>
        {{event.user}}: {{event.effect.message}}
      </li>
    </ul>
  </ng-container>
</div>

<ng-template #keyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="key-modal-title">Enter Access Key</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
  </div>
  <div class="modal-body">
    <div>
      <div class="mb-3">
        <label class="form-label" for="keyInput">Key</label>
        <input type="text" id="keyInput" class="form-control text-monospace"
               placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" [(ngModel)]="key">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveKey(); modal.close()">
      Save
    </button>
  </div>
</ng-template>
