<div class="container text-center mt-3">
  <h1>Jindosh Riddle Solver</h1>

  <p>
    At the dinner party were Lady Winslow, Doctor Marcolla, Countess Contee, Madam Natsiou, and Baroness Finch.
  </p>
  <p>
    The women sat in a row. They all wore different colors and
    <app-character [(value)]="names[0]"></app-character>
    wore a jaunty
    <app-color [(value)]="colors[0]"></app-color>
    hat.
    <app-character [(value)]="names[1]"></app-character>
    was at the far left, next to the guest wearing a
    <app-color></app-color>
    jacket. The lady in
    <app-color></app-color>
    sat left of someone in
    <app-color></app-color>
    . I remember that
    <app-color></app-color>
    outfit because the woman spilled her
    <app-drink></app-drink>
    all over it. The traveler from
    <app-city></app-city>
    was dressed entirely in
    <app-color></app-color>
    . When one of the dinner guests bragged about her
    <app-heirloom [(value)]="heirlooms[2]"></app-heirloom>
    , the woman next to her said they were finer in
    <app-city></app-city>
    , where she lived.
  </p>
  <p>
    So
    <app-character [(value)]="names[3]"></app-character>
    showed off a prized
    <app-heirloom [(value)]="heirlooms[3]"></app-heirloom>
    , at which the lady from
    <app-city [(value)]="cities[0]"></app-city>
    scoffed, saying it was no match for her
    <app-heirloom [(value)]="heirlooms[0]"></app-heirloom>
    . Someone else carried a valuable
    <app-heirloom [(value)]="heirlooms[1]"></app-heirloom>
    and when she saw it, the visitor from
    <app-city></app-city>
    next to her almost spilled her neighbor's
    <app-drink></app-drink>
    .
    <app-character [(value)]="names[2]"></app-character>
    raised her
    <app-drink [(value)]="drinks[2]"></app-drink>
    in toast. The lady from
    <app-city></app-city>
    , full of
    <app-drink></app-drink>
    , jumped up onto the table falling onto the guest in the center seat, spilling the poor woman's
    <app-drink></app-drink>
    . Then
    <app-character [(value)]="names[4]"></app-character>
    captivated them all with a story about her wild youth in
    <app-city [(value)]="cities[4]"></app-city>
    .
  </p>
  <p>
    In the morning there were four heirlooms under the table:
    <app-heirloom [(value)]="heirlooms[2]"></app-heirloom>
    ,
    <app-heirloom [(value)]="heirlooms[4]"></app-heirloom>
    ,
    <app-heirloom [(value)]="heirlooms[0]"></app-heirloom>
    , and
    <app-heirloom [(value)]="heirlooms[1]"></app-heirloom>
    .
  </p>
  <p>
    But who owned each?
  </p>

  <table class="table" id="resultTable">
    <thead>
    <tr id="characterRow">
      <th scope="col">Character</th>
      <th scope="col">City</th>
      <th scope="col">Color</th>
      <th scope="col">Drink</th>
      <th scope="col">Heirloom</th>
      <th scope="col">Seat</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of [0,1,2,3,4]">
      <th scope="row">{{names[i]}}</th>
      <td>{{cities[i]}}</td>
      <td>{{colors[i]}}</td>
      <td>{{drinks[i]}}</td>
      <td>{{heirlooms[i]}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" (click)="save()">
      Save
    </button>
    <button type="button" class="btn btn-secondary" (click)="load()">
      Load
    </button>
    <button type="button" class="btn btn-danger" (click)="reset()">
      Reset
    </button>
  </div>
</div>
