<div class="container text-center">
  <h1>mailto Link Generator</h1>

  <div class="form">
    <div class="form-group">
      <h2><label for="subject">Subject</label></h2>
      <input type="text" class="form-control" id="subject" (change)="update()" [(ngModel)]="subject">
      <small class="form-text text-muted">
        Supports variable insertion with <code>#1#</code>, <code>#2#</code>, ...
      </small>
    </div>
    <div class="form-group">
      <h2><label for="template">Template</label></h2>
      <textarea class="form-control" id="template" rows="20" (change)="update()" [(ngModel)]="body"></textarea>
      <small class="form-text text-muted">
        Supports variable insertion with <code>#1#</code>, <code>#2#</code>, ...
        HTML is not supported.
      </small>
    </div>
  </div>

  <table class="table table-bordered table-condensed">
    <tr>
      <th>Address</th>
      <th *ngFor="let _ of variableNames; let i=index; trackBy:index">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="variableNames[i]" (change)="update()">
          <div class="input-group-append">
            <button type="button" class="btn btn-danger" ngbTooltip="Delete Variable/Column" (click)="deleteColumn(i)">
              &times;
            </button>
          </div>
        </div>
      </th>
      <th>
        <button type="button" class="btn btn-success" (click)="addColumn()" ngbTooltip="Add Variable/Column">+</button>
      </th>
      <th>mailto-Link</th>
      <th></th>
    </tr>
    <tr *ngFor="let row of variables; let i=index">
      <td>
        <input type="email" class="form-control"
               [(ngModel)]="addresses[i]" (change)="updateRow(i)" (paste)="paste($event, i, -1)">
      </td>
      <td *ngFor="let _ of variableNames; let j=index; trackBy:index">
        <input type="text" class="form-control"
               [(ngModel)]="row[j]" (change)="updateRow(i)" (paste)="paste($event, i, j)">
      </td>
      <td></td>
      <td>
        <a [href]="links[i]">{{links[i].substring(0, links[i].indexOf('?'))}}</a>
      </td>
      <td>
        <button type="button" class="btn btn-danger" ngbTooltip="Delete Row" (click)="deleteRow(i)">
          &times;
        </button>
      </td>
    </tr>
    <tr>
      <td [colSpan]="3+variableNames.length">
      </td>
      <td>
        <button type="button" class="btn btn-success" (click)="addRow()" ngbTooltip="Add Row">+</button>
      </td>
    </tr>
  </table>
</div>
