<div class="row align-items-center justify-content-center h-100">
  <div class=" justify-self-center col-sm-9 col-md-7 col-lg-5">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title text-center">
          Password Box
        </h1>
        <p class="card-text">
          This app provides nothing more than a password box.
          I frequently need a random password for external tools,
          and with a password box I can generate one with Chrome's "suggest strong password" tool.
        </p>
        <p class="card-text">
          <input type="password" class="form-control" id="passwordInput" placeholder="Password">
        </p>
      </div>
    </div>
  </div>
</div>
