<ng-template #header>
  {{section.title}} ({{section.points}}P/{{section.maxPoints}}P)
</ng-template>
<ng-container [ngSwitch]="depth">
  <h1 *ngSwitchCase="1" [ngTemplateOutlet]="header"></h1>
  <h2 *ngSwitchCase="2" [ngTemplateOutlet]="header"></h2>
  <h3 *ngSwitchCase="3" [ngTemplateOutlet]="header"></h3>
  <h4 *ngSwitchCase="4" [ngTemplateOutlet]="header"></h4>
  <h5 *ngSwitchCase="5" [ngTemplateOutlet]="header"></h5>
  <h6 *ngSwitchCase="6" [ngTemplateOutlet]="header"></h6>
</ng-container>
<ul>
  <li *ngFor="let item of section.items; let index=index">
    <div class="custom-control custom-checkbox" (auxclick)="setChecked(item, undefined)">
      <input type="checkbox" class="custom-control-input"
             [id]="idPrefix + index"
             [indeterminate]="item.checked === undefined"
             [ngModel]="item.checked" (ngModelChange)="setChecked(item, $event)"
      >
      <label class="custom-control-label" [for]="idPrefix + index">
        {{item.description}} (-{{item.points}}P)
      </label>
    </div>
  </li>
</ul>
<app-section *ngFor="let child of section.children" [section]="child" [depth]="depth + 1" (pointsChanged)="childPointsChanged($event)"></app-section>
