<div class="card">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <input type="date" class="form-control form-control-sm me-2" [(ngModel)]="date">
      <input type="time" class="form-control form-control-sm me-2" [(ngModel)]="time">
      <button *ngIf="event" type="button" class="btn btn-sm btn-secondary me-2" (click)="done.emit()">
        Cancel
      </button>
      <button type="button" class="btn btn-sm btn-primary" (click)="save()">
        Save
      </button>
    </div>
  </div>
  <div class="card-body">
    <div
      class="form-control h-auto d-inline-block"
      id="description-editor"
      [editable]="true"
      propValueAccessor="innerHTML"
      [ngModel]="description"
      (ngModelChange)="description = $event; updateTags()"
    ></div>
  </div>
</div>
