<div class="container">
  <div class="row g-2 align-items-center mb-3">
    <div class="col-auto">
      <label for="typeFilter" class="col-form-label">Filter by Type:</label>
    </div>
    <div class="col-auto">
      <select class="form-control" id="typeFilter"
              [ngModel]="route.snapshot.queryParams.type" (ngModelChange)="setFilter({type: $event})">
        <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        <option [ngValue]="undefined">-</option>
      </select>
    </div>
    <div class="col-auto">
      <label for="search" class="col-form-label">Search:</label>
    </div>
    <div class="col-auto">
      <input type="search" class="form-control" id="search"
             [ngModel]="searchFilter$.value" (ngModelChange)="searchFilter$.next($event)">
    </div>
    <div class="col-auto ms-auto">
      <a class="btn btn-success" routerLink="new">
        New
      </a>
    </div>
  </div>
  <div class="list-group">
    <a *ngFor="let entry of entries trackBy entryId"
       class="list-group-item list-group-item-action"
       [routerLink]="[entry._id]"
    >
      <img *ngIf="entry.imageUrl" [src]="entry.imageUrl" [alt]="entry.name" class="float-start entry-icon me-3">
      <h4>
        {{ entry.name }}
        <small class="text-muted">
          {{ entry.type }}
        </small>
      </h4>
      <p class="text-muted text-truncate">
        {{ entry.description }}
      </p>
    </a>
  </div>
</div>
