<div class="container text-center mt-3">
  <h1>Jindosh Riddle Solver</h1>

  <div id="riddleText">
    <p>
      At the dinner party were Lady Winslow, Doctor Marcolla, Countess Contee, Madam Natsiou, and Baroness Finch.
    </p>
    <p>
      The women sat in a row. They all wore different colors and [character] wore a jaunty [color] hat.
      [character] was at the far left, next to the guest wearing a [color] jacket. The lady in [color] sat left of
      someone in [color]. I remember that [color] outfit because the woman spilled her [drink] all over it. The
      traveler from [city] was dressed entirely in [color]. When one of the dinner guests bragged about her
      [heirloom], the woman next to her said they were finer in [city], where she lived.
    </p>
    <p>
      So [character] showed off a prized [heirloom], at which the lady from [city] scoffed, saying it was no match
      for her [heirloom]. Someone else carried a valuable [heirloom] and when she saw it, the visitor from [city]
      next to her almost spilled her neighbor's [drink]. [character] raised her [drink] in toast. The lady from
      [city], full of [drink], jumped up onto the table falling onto the guest in the center seat, spilling the
      poor woman's [drink]. Then [character] captivated them all with a story about her wild youth in [city].
    </p>
    <p>
      In the morning there were four heirlooms under the table: [heirloom], [heirloom], [heirloom], and
      [heirloom].
    </p>
    <p>
      But who owned each?
    </p>
  </div>

  <table class="table" id="resultTable">
    <thead>
    <tr id="characterRow">
      <th scope="col">Character</th>
      <th scope="col">City</th>
      <th scope="col">Color</th>
      <th scope="col">Drink</th>
      <th scope="col">Heirloom</th>
      <th scope="col">Seat</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <ngbd-theme-switch></ngbd-theme-switch>
</div>
