<div class="container">
  <h1 class="d-flex align-items-center">
    <div>
      <a class="bi-chevron-left" routerLink=".."></a>
      {{entry?.name}}
      <small class="text-muted">
        {{entry?.type}}
      </small>
    </div>
    <a class="btn btn-primary ms-auto" routerLink="edit">
      Edit
    </a>
  </h1>
  @if (entry?.imageUrl) {
    <img class="entry-image float-start mb-3 me-3" [src]="entry!.imageUrl" [alt]="entry!.name">
  }
  <p>
    {{entry?.description}}
  </p>
  <table class="table table-sm table-borderless">
    @for (property of entry?.properties | keyvalue; track property) {
      <tr>
        <td>{{ property.key }}</td>
        <td>{{ property.value }}</td>
      </tr>
    }
  </table>
</div>
