<div class="container">
  <h1>Timeline</h1>
  <div class="form-inline mb-3">
    <div class="form-group">
      <label for="searchInput" class="mr-2">
        Filter by Reference:
      </label>
      <input
        type="search"
        class="form-control"
        id="searchInput"
        [ngbTypeahead]="search"
        [inputFormatter]="render"
        [resultFormatter]="render"
        [editable]="false"
        [ngModel]="searchEntry$ | async"
        (ngModelChange)="searchEntry$.next($event)"
      >
    </div>
  </div>
  <div *ngFor="let event of timeline; trackBy eventId" class="mb-3" >
    <div class="card" *ngIf="editing !== event._id else edit">
      <div class="card-header">
        {{ event.timestamp | date:'fullDate' }}
        {{ event.timestamp | date:'shortTime' }}
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="editing = event._id">
          Edit
        </button>
      </div>
      <div class="card-body">
        <p class="card-text">
          <ng-container *ngFor="let item of event.description">
            <a
              *ngIf="isReference(item); else text"
              class="alert alert-{{colors[item.type] || 'secondary'}} p-0"
              [routerLink]="['../entries', item.id]"
              [attr.data-reference]="item.type"
              [attr.data-id]="item.id"
            >{{ item.name }}</a>
            <ng-template #text>
              {{ item }}
            </ng-template>
          </ng-container>
        </p>
      </div>
    </div>
    <ng-template #edit>
      <app-edit-event [timeline]="timeline" [entries]="entries" [event]="event" (done)="editing = undefined"></app-edit-event>
    </ng-template>
  </div>
  <app-edit-event [entries]="entries" [timeline]="timeline"></app-edit-event>
</div>
